:root {
  --error-background: #fee;
  --light-grey: #bbb;
  /* some colors below from https://coolors.co/07020d-91f5ad-8b9eb7-745296-632a50 */
  --text: #07020d;
  --light-green: #f0fff4;
  --green: #91f5ad;
  --dark-green: #229442;
  --steel: #8b9eb7;
  --light-lilac: #f9f1ff;
  --mid-lilac: #ded1e9;
  --lilac: #745296;
  --blackberry: #632a50;
  --light-blackberry: #911668;

  color: var(--text);
}

.fancy-font {
  /* using code copied from https://fonts.google.com/selection/embed */
  font-family: "Molle", cursive;
}
